<html xmlns:o="urn:schemas-microsoft-com:office:office">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <!-- <link rel="stylesheet" type="text/css" href="./news_files/__STYLE__"> -->
  <meta name="GENERATOR" content="MSHTML 11.00.9600.18450">
</head>

<body>
  <table
    style="BORDER-TOP: black 1px solid; BORDER-RIGHT: black 1px solid; BORDER-BOTTOM: black 1px solid; BORDER-LEFT: black 1px solid"
    cellspacing="0" cellpadding="8" width="100%" bgcolor="#ffffd6" border="0">
    <tbody>
      <tr>
        <td>
          <h1>
            <font color="#823602" face="Verdana">1С:Предприятие 8</font>
          </h1>
          <h2>
            <font color="#c10000" face="Tahoma">Конфигурация
              <br>
              {{conf_name}}
              <font color="#c10000" face="Tahoma">, редакция {{redaction_num}}</font>
              <font color="#000000" face="Times New Roman"> </font>
            </font>
          </h2>
        </td>
      </tr>
    </tbody>
  </table>
  <ul></ul>
  <ul></ul>
  <h3 style="BORDER-BOTTOM: rgb(193,0,0) 2px solid">
    <font color="#c10000" size="5" face="Arial"><em>Версия {{short_vers}}</em></font>
  </h3>
  {{{content}}}
</body>

</html>